.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.country{
    background-color: aqua;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 30px;
}
.country img{
    width: 300px;
}